{{> main/header}}
<h1>Home</h1>

<h2>Développeurs</h2>

<p>{{nb_devs}}</p>

<p>Ajout rapide de developpeur</p>

<form action="developer/add" method="post">
    <input type="text" name="firstname" placeholder="firstname">
    <input type="text" name="lastname" placeholder="lastname">
    <button>+</button>
</form>

<table>
    <thead>
    <tr>
        <th>Développeur</th>
        <th>Stories</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        {{#developers}}
        <tr>
            <td>{{firstname}} {{lastname}}</td>
            <td>
                <ul>
                    {{#stories}}
                    <div class="ui image label">
                        {{name}}
                        <a href="story/{{id}}/giveup"><i class="remove icon"></i></a>
                    </div>
                    {{/stories}}
                </ul>
            </td>
            <td>
                <form action="developer/{{id}}/story" method="post">
                    <input type="text" id="storyname" name="storyname" placeholder="story name">
                    <input type="submit" value="Ajouter US et Affecter">
                    <a href="developer/{{id}}/delete">Quitter le projet</a>
                </form>
            </td>
        </tr>
        {{/developers}}
        {{^developers}}
        <tr>
            <td colspan="3">Pas de développeur</td>
        </tr>
        {{/developers}}
    </tbody>
</table>

<h2>User stories à répartir</h2>

<p>{{nb_stories}}</p>

<table>
    <thead>
    <tr>
        <th>US</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        {{#stories}}
        <tr>
            <td>{{name}}</td>
            <td>
                <form action="story/{{id}}/affect" method="post">
                    <select name="developer_id" id="developer_id">
                        {{#developers}}
                        <option value="{{id}}">{{firstname}} {{lastname}}</option>
                        {{/developers}}
                        {{^developers}}
                            <option value="">Pas de développeur à affecter</option>
                        {{/developers}}
                    </select>
                    <button class="ui button">+</button>
                </form>
                <form action="story/{{id}}/remove" method="post">
                    <button class="red icon ui button">x</button>
                </form>
            </td>
        </tr>
        {{/stories}}
        {{^stories}}
        <tr>
            <td colspan="2">Pas de story</td>
        </tr>
        {{/stories}}
    </tbody>
</table>

{{> main/footer}}